
/* MAIN MENU */
main_menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: stretch;
  height: 10%;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 22;
}
main_menu a{
  color: black;
  text-decoration:none;
}

main_menu > Logo{
  order: 1;
  margin-left: 5%;
}

main_menu > Home{
  margin-top: 2%;
  margin-left: 15%;
  order: 2;
}
main_menu > About_Me{
  margin-top: 2%;
  margin-left: 5%;
  order: 3;
}
main_menu > my_projects{
  margin-top: 2%;
  margin-left: 5%;
  order: 4;
}
/* PESTANAS DESPLEGABLES */
main_menu > my_projects *{margin:0;padding:0;box-sizing:border-box;}
main_menu > my_projects nav a{
      text-decoration:none;
      color:inherit;
      }

main_menu > my_projects nav li{
  display:inline-block;
  width:150px;
  height:30px;
  background-color: white;
  border:1px solid white;
  text-align:center;
  color: black;
  position:relative;
}

main_menu > my_projects nav li:hover{
  background-color:#1c97f1;
  color:#fff;
}

main_menu > my_projects nav li>ul{
  display:none;
}

main_menu > my_projects nav li:hover>ul{
  display:block;
  position:absolute;
  top:30px;
  left:0px;
}

/* MENU CONT. */

main_menu > Contact{
  margin-top: 2%;
  margin-left: 5%;
  order: 4;
}

main_menu > Searcher{
  margin-top: 2%;
  margin-left: 8%;
  order: 5;
}
main_menu > Searcher > searcher_img{
  display: flex;
  flex-direction: row;
  order: 1;
}
main_menu > Searcher > searcher_box{
  display: flex;
  flex-direction: row;
  order: 2;
}

/* MY PROJECTS */
projects_place{
  flex-direction: column;
  width: 62%;
  margin-left: 17%;
  margin-right: 15%;
}

projects_place h1{
  color: blue;
}

projects_place h2{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 42;
  text-align: center;
  color: white;
  z-index: 50;
}

projects_place pibot{
  order: 1;
  margin-left: 10%;
  max-width: 300px;
  position: relative;
  display: inline-block;
  text-align: center;
}
projects_place piBot .text_top{
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
}
projects_place mbot{
  order: 2;
  margin-left: 12%;
  max-width: 300px;
  position: relative;
  display: inline-block;
  text-align: center;
}
projects_place mbot .text_top{
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: center;
}
projects_place pepper{
  order: 3;
  margin-left: 12%;
  max-width: 300px;
  position: relative;
  display: inline-block;
  text-align: center;
}
projects_place pepper .text_top{
    position: absolute;
    top: 25%;
    left: 32%;
    text-align: center;
}

/*  FORMULARIO DE CONTACTO */
contact_form{
  display: flex;
  margin-left: 17%;
  margin-right: 15%;
  margin-top: 5%;
  width: 62%;
  flex-direction: column;
}
contact_form h1{
  color: blue;
}
contact_form p{
  font-size: 18px;
}

/* SLIDER */
.slideshow-container{
 max-width: 1200px;
 position:relative;
 margin-top: 5%;
 margin-left: 15%;
 margin-right: 15%;
}
.mySlides{
 display:none;
}
.prev, .next{
 cursor:pointer;
 position:absolute;
 top:50%;
 width:auto;
 margin-top:-22px;
 padding:16px;
 color:blue;
 font-weight:bold;
 font-size:18px;
 transition:0.6s ease;
 border-radius:0 3px 3px 0;
}
.next{
 right:0;
 border-radius:3px 0 0 3px;
}
.prev:hover, .next:hover{
 background-color:rgba(0,0,0,0.8);
}
.text{
 color:#f2f2f2;
 font-size:18px;
 padding:8px 12px;
 position:absolute;
 bottom:8px;
 width:100%;
 text-align:center;
}

.numbertext{
 color:#f2f2f2;
 font-size:12px;
 padding:8px 12px;
 position:absolute;
 top:0;
}
.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 animation-name:fade;
 animation-duration:1.5s;
}

@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

/* CONTENEDOR DE LA DESCRIPCION */

description{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 17%;
  margin-right: 15%;
  margin-bottom: 5%;
  padding-top: 2%;
  width: 62%;
}
description h1{
  color: blue;
}
description p{
  font-size: 18px;
}
.centrado{
  text-align: center;
}
